$primary: #4a903e;
$secondary: #8c8c8c;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7
$min-contrast-ratio: 3.5 !default;

// import bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

//import font
@font-face {
  font-family: tabshoor;
  src: url(sansation_light.ttf)
}



#scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#main-navbar {
  & .main-navbar-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFF;
    z-index: -1;
    // opacity: 0.9;
  }
}

@include media-breakpoint-down(lg) {
  #main-navbar {
    & .main-navbar-overlay {
      position: absolute;
      // background-color: transparent;
    }
  }
}

@include media-breakpoint-down(lg) {
  #main-navbar {
    & #main-navbar-collapse {
      padding-top: 1em;
      .navbar-nav {
        background-color: #FFF;
        .nav-item {
          .nav-link {
            padding: 1em;
          }
        }
      }
    }
  }
}

#slideshow {
  & {
    .carousel-item {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#about {
  background-image: url('../images/about.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// font added 
.tabshoor {
  font-family: myFirstFont;
}

  // font fpr h(1-6)
@for $i from 1 through 6 {
  h#{$i} {
    font-family: tabshoor;
  }
}

// add background colors
.bg-gb {
  background-color: #CAD6DA;
  color: #493A2D
}

.bg-g1 {
  background-color: #E2E2DE;
  color: #A9533E
}

.bg-g2 {
  background-color: #EADECD;
  color: #382C20
}

.bg-g3 {
  background-color: #D7D1D2;
  color: #816560
}

.bg-g4 {
  background-color: #EBE8DD;
  color: #956F52
}

.bg-gr {
  background-color: #D7C4C3;
  color: #53201C
}

.bg-h {
  background-color: #FCDD9F;
  color: #E0606B
}

.bg-gh {
  background-color: #FFEFCF;
  color: #CEA46E
}

.bg-hl {
  background-color: #FCF8C3;
  color: #FFAB24
}

.bg-hb {
  background-color: #FDD68B;
  color: #5C251B
}

.bg-p {
  background-color: #FFCFD2;
  color: #C06268
}

.bg-b {
  background-color: #A5D8E5;
  color: #110042
}

.bg-g {
  background-color: #91C9B1;
  color: #1E754E
}

.bg-hg {
  background-color: #FCEBB7;
  color: #558374
}

.bg-g5 {
  background-color: #E4E1D7;
  color: #A98564
}

// button color

.btn-gb {
  color: #CAD6DA;
  background-color: #493A2D
}

.btn-g1 {
  color: #E2E2DE;
  background-color: #A9533E
}

.btn-g2 {
  color: #EADECD;
  background-color: #382C20
}

.btn-g3 {
  color: #D7D1D2;
  background-color: #816560
}

.btn-g4 {
  color: #EBE8DD;
  background-color: #956F52
}

.btn-gr {
  color: #D7C4C3;
  background-color: #53201C
}

.btn-g5 {
  color: #E4E1D7;
  background-color: #A98564
}

.btn-h {
  color: #FCDD9F;
  background-color: #E0606B
}

.btn-gh {
  color: #FFEFCF;
  background-color: #CEA46E
}

.btn-hl {
  color: #FCF8C3;
  background-color: #FFAB24
}

.btn-hb {
  color: #FDD68B;
  background-color: #5C251B
}

.btn-p {
  color: #FFCFD2;
  background-color: #C06268
}

.btn-b {
  color: #A5D8E5;
  background-color: #110042
}

.btn-g {
  color: #A5D8E5;
  background-color: #110042
}

.btn-hg {
  color: #FCEBB7;
  background-color: #558374
}

.btn-g5 {
  color: #E4E1D7;
  background-color: #A98564
}

.btn-h {
  color: #FCDD9F;
  background-color: #E0606B
}

.btn-gh {
  color: #FFEFCF;
  background-color: #CEA46E
}

.btn-hl {
  color: #FCF8C3;
  background-color: #FFAB24
}

.btn-hb {
  color: #FDD68B;
  background-color: #5C251B
}

.btn-p {
  color: #FFCFD2;
  background-color: #C06268
}

.btn-b {
  color: #A5D8E5;
  background-color: #110042
}

.btn-b {
  color: #A5D8E5;
  background-color: #110042
}

.btn-g {
  color: #91C9B1;
  background-color: #1E754E
}

.btn-hg {
  color: #FCEBB7;
  background-color: #558374
}

.scale_it {
  &:hover{
  transform: scale(1.1);
  transition: 0.1ms;
  }
}

.bg-size-cover {
  background-size: cover;
}